doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= pageTitle
        link(rel='stylesheet', type='text/css', href="/css/style.css")
        link(href='https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content="Pausebot - Your TikTok Pausebot and Downloader")
        meta(name='keywords', content='Contact pausebot.com, Help page pausebot.com')
        meta(name='author', content='Lele & Franz')
        //- Google
        script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-163806742-1')
        script.
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-163806742-1');
        <!-- Facebook -->
        meta(property='og:type', content='website')
        meta(property='og:locale', content='en_US')
        meta(property='og:title', content='Pausebot - just in time')
        meta(property='og:description', content='Your online TikTok Pausebot & Downloader')
        meta(property='og:url', content='https://pausebot.com')
        <!-- Twitter -->
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:url', content='https://pausebot.com')
        meta(name='twitter:title', content='Pausebot - just in time')
        meta(name='twitter:description', content='Your online TikTok Pausebot & Downloader')
    body
        div(class='container-1')
            div(class='grid-item-1')
                div(class='heading-box')
                    h2(class='heading-1')= title1
                    h1(class='heading-2')= title2
            div(class='text-box-contact')
                div(class='description')
                    h3(class='heading-text')= headingText
                    div(class='display-container')
                        img(class='display-image' src= imageSource, alt='paused Image')
                    div(class='item-footer')
                        div(class='footer-links-item')
                            span(class='footer-links')
                                a(href='/') Home
                                a(href='/download/') Downloader
                                a(href='/contact/') Contact
                                a(href='/privacy') Privacy
                            div(class='footer-sponsor')
                                span Buy us a &#127866;&nbsp;
                                    a(target='_blank', rel='noopener noreferrer', href='https://www.paypal.me/pausebot') here
