<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pausebot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <script data-ad-client="ca-pub-7114161687340232" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <div class="container">
        <section>
            <div id="transition">
                <h1 class="heading-text-1">Welcome to</h1>
                <h1 class="heading-text-2">Pausebot-Downloader</h1>
            </div>
        </section>
    </div>
    <section>
        <fieldset class="form-stuff">
            <form action="/download/" method="post">
                <input name="downloadlink" type="text" class="pb-input" placeholder="E.g: https://vm.tiktok/xxxxxx" required>
                <input type="submit" class="pb-button" value="Get Video">
            </form>
        </fieldset>
    </section>
    <footer>
      <nav>
      <div>
          <div class="footer-links">
              <a href="/"> Home </a>
              <a href="/download/"> Downloader </a>
              <a href="/contact/"> Contact </a>
          </div>
      </div>
      </nav>
      <div class="footer-text">
        <p> Made with <3 by Lele & Franz </p>
      </div>
    </footer>
  </body>
</html>
