doctype html
html
    head
        meta(charset='utf-8')
        title Downloader
        link(rel='stylesheet', type='text/css', href="/css/style.css")
        link(href='https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;500;700;800;900&display=swap', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content="Pausebot Tik Tok Downloader")
        meta(name='keywords', content='TikTok, Tik Tok, Pausebot, CEO of pausing, TikTok downloader, mp4 Tik Tok downloader')
        meta(name='author', content='Lele & Franz')
        //- Google
        script(data-ad-client='ca-pub-7114161687340232", async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        <!-- Facebook -->
        meta(property='og:type', content='website')
        meta(property='og:locale', content='en_US')
        meta(property='og:title', content='Pausebot - Downloader')
        meta(property='og:description', content='Tik Tok Downloader by Pausebot')
        meta(property='og:url', content='https://pausebot.com/download')
        <!-- Twitter -->
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:url', content='https://pausebot.com/download')
        meta(name='twitter:title', content='Pausebot - Downloader')
        meta(name='twitter:description', content='Tik Tok Downloader by Pausebot')
    body
        div(class='container')
            section
                div(id='transition', class='heading-box')
                    h1(class='heading-text-1') Welcome to
                    h1(class='heading-text-2') Downloader
            section
                fieldset(class='form-stuff')
                    form(action='/download/', method='post')
                        input(name='downloadlink', type='text', class='pb-input', placeholder='E.g: https://vm.tiktok.com/xxxxxx', required)
                        input(type='submit', class='pb-button', value='Get Video')
        footer
            nav
                div
                    div(class='footer-links')
                        a(href='/') Home
                        a(href='/download/') Downloader
                        a(href='/contact/') Contact
            div(class='footer-text')
                p Buy us a &#127866;: https://www.paypal.me/pausebot

