doctype html
html
    head
        meta(charset='utf-8')
        title Pausebot - just in time
        link(rel='stylesheet', type='text/css', href="/css/style.css")
        link(href='https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content="Pausebot - Your TikTok Pausebot and Downloader")
        meta(name='keywords', content='TikTok, Tik Tok, Pausebot, CEO of pausing, TikTok downloader, mp4 Tik Tok downloader')
        meta(name='author', content='Lele & Franz')
        //- Google
        <script data-ad-client="ca-pub-9895481935799934" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Facebook -->
        meta(property='og:type', content='website')
        meta(property='og:locale', content='en_US')
        meta(property='og:title', content='Pausebot - just in time')
        meta(property='og:description', content='Your online TikTok Pausebot & Downloader')
        meta(property='og:url', content='https://pausebot.com')
        <!-- Twitter -->
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:url', content='https://pausebot.com')
        <!-- <meta name="twitter:image" content="images/iconfile.ico"/> -->
        meta(name='twitter:title', content='Pausebot - just in time')
        meta(name='twitter:description', content='Your online TikTok Pausebot & Downloader')
    body
        div(class='container')
            div(class='grid-item-1')
                div(class='heading-box')
                    h1(class='heading-1') Welcome to
                    h1(class='heading-2') Pausebot
            div(class='item-2')
                div(id='rounded', class='list-content')
                    h2(class='list-heading') How it works
                    div(class='list-styling')
                        p Sroll down
                        p Paste link
                        p Wait
                        p Enjoy!

            div(class='item-input')
                fieldset(class='form-stuff')
                    form(action='/', method='post')
                        div(class='form-right')
                        input(name='link', type='text', class='pb-input', placeholder='E.g: https://vm.tiktok.com/xxxxxx', required)
                        input(type='submit', class='pb-button', value='Get Photo')

            div(class='item-footer')
                div(class='footer-links-item')
                    span(class='footer-links')
                        a(href='/') Home
                        a(href='/download/') Downloader
                        a(href='/contact/') Contact
                    div(class='footer-sponsor')
                        span Buy us a &#127866;
                            a(href='https://www.paypal.me/pausebot') here
