doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= pageTitle
        link(rel='stylesheet', type='text/css', href="/css/style.css")
        link(href='https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content= pageDescription)
        meta(name='keywords', content= keyWords)
        meta(name='author', content='Lele & Franz')
        //- Google
        script(data-ad-client="ca-pub-9895481935799934", async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        <!-- Facebook -->
        meta(property='og:type', content='website')
        meta(property='og:locale', content='en_US')
        meta(property='og:title', content= ogTitle)
        meta(property='og:description', content= ogDescription)
        meta(property='og:url', content='https://pausebot.com')
        <!-- Twitter -->
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:url', content='https://pausebot.com')
        meta(name='twitter:title', content= twitterTitle)
        meta(name='twitter:description', content= twitterDescription)
    body
        div(class='container')
            div(class='grid-item-1')
                div(class='heading-box')
                    h2(class='heading-1')= title1
                    h1(class='heading-2')= title2
            div(class='item-2')
                div(id='rounded', class='list-content')
                    h2(class='list-heading') How it works
                    div(class='list-styling')
                        p Sroll down
                        p Paste link
                        p Wait
                        p Enjoy!

            div(class='item-input')
                fieldset(class='form-stuff')
                    form(action= actionVar, method='post')
                        div(class='form-right')
                        input(name='link', type='text', class='pb-input', placeholder='E.g: https://vm.tiktok.com/xxxxxx', required, onclick="this.select();")
                        input(type='submit', class='pb-button', value= buttonText)
        div(class='container')
            div(class='text-box')
                p !{textBox}

            div(class='item-footer')
                div(class='footer-links-item')
                    span(class='footer-links')
                        a(href='/') Home
                        a(href='/download/') Downloader
                        a(href='/contact/') Contact
                        a(href='/privacy') Privacy
                    div(class='footer-sponsor')
                        span Buy us a &#127866;&nbsp;
                            a(href='https://www.paypal.me/pausebot') here
