body{
    width:99%%;
    font-family: 'Gothic A1', sans-serif;
    background-color: black;
    scroll-snap-type: y mandatory;
}
fieldset{
    border: none;
}

.container{
    position: relative;
}

.heading-box{
    height: 20vh;
    position: absolute;
    top: 7vh;
    left: 8vw;
    text-align: right;
    line-height: 2vh;
}

.heading-text-1{
    font-size: 4.5vh;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
    color:#fff;
    /*margin-top: 4vh;*/
}

.heading-text-2{
    font-size: 5vh;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
    color: #000;
    text-shadow: -1.5px 2px 0 #94ebe9,
        2px -1.5px 0 #E00D50;
}
.xplain-box{
    position: absolute;
    margin-top: inherit;
    text-align: center;
    color: #fff;
    font-weight: 300;
    list-style: inside;
    line-height: 3vh;
}
.form-stuff{
    margin-top: 40%;
    margin-right: 5%;
    margin-left: 5%;
}
.pb-input[type=text]{
    float: right;
    caret-color: #000;
    width: 95%;
    height:2vh;
    /*margin: 5px,5px;*/
    padding: 1.7vh 14px;
    font-size: 1.5vh;
}
.pb-input::placeholder{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.5vh;
    font-weight: 500;
    color: #9c9c9c
}
.pb-input:focus{
     outline: none;
}
.pb-button{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 2.2vh;
    text-decoration: none;
    text-align: center;
    float:right;
    margin-top: 1vh;
    /*margin: 3px,3px ;*/
    padding: 1.5vh 4vh;
    border: none;
    background-color: #E00D50;
    color: white;
}

.pb-button:hover{
    background-color: #ffffff;
    box-shadow: 2px -1px 0 #94ebe9,
        -1px 2px 0 #E00D50;
    transition: 0.6s;
    color: #000;
}
.pb-button:focus{
     outline: none;
 }
footer{
    text-align: center;
    color: #fff;
    width: 100%;
}
.footer-text{
    display: block;
    position: fixed;
    left: 40vw;
    bottom:5.3vh;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 1.2vh;
}
.footer-text a{
    text-decoration: none;
    color: #94ebe9;
}

.footer-links{
    position: fixed;
    width: 100%;
    left:0;
    display: inline-block;
    bottom:2vh;
}
.footer-links a{
    font-family: 'Gothic A1', sans-serif;
    text-decoration: none;
    font-size: 1.5vh;
    font-weight: 800;
    color: #E00D50;
    padding: 17px;
}
.footer-links a:hover{
    color:#ffffff;
    text-shadow: -1px 1px 0 #94ebe9,
        1px -1px 0 #E00D50;
    transition: 0.6s;
}
#transition{
    animation-name: transitioner;
    animation-duration: 1.7s;
    transition: opacity 1;
}
section {
    padding-top: 30px;
    padding-left: 10px;
    height: 100vh;
    scroll-snap-align: start;
}
@keyframes transitioner {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes transitioner {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes transitioner {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes transitioner {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes transitioner {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
Tik Tok Colors:
#E00D50 pink
#94ebe9 turquoise
*/
